body
		{
			background-color:#f2f2f2;
		}
		.navbar-default
		{
			background-color:#f9f9f9;
			border-color:#f9f9f9;
			padding:20px;
			border-radius:5px;
			box-shadow: 2px 2px #d9d9d9;
		}
		.glyphicon-menu-left
		{
			color:#ec0249;
			font-size:30px;
			padding-top:10px;
			font-weight:bold;
			text-shadow: 1px 1px #d9d9d9;
		}
		.navbar-brand h2
		{
			font-size:28px; 
			color:dark gray; 
			font-weight:bold; 
			margin-top:-10px;
			margin-left:120px;
			text-shadow: 2px 2px #d9d9d9;
		}
		img
		{
			width:70px;
			height: 50px;
			box-shadow:1px 1px #d9d9d9;
		}
		h3
		{
			margin-left:90px; 
			margin-top:-55px;
			text-shadow:1px 1px #d9d9d9;
			color:#ec0249;
		}
		h5
		{
			margin-left:90px;
			color:#f19114;
		}
		.list
		{
			margin:20px;
		}
		@media only screen and (max-width: 650px)
		{
			.navbar-default
			{
				background-color:#f9f9f9;
				border-color:#f9f9f9;
				padding:10px;
				border-radius:5px;
			}
			.glyphicon-menu-left
			{
				color:#ec0249;
				font-size:25px;
				padding-top:7px;
				font-weight:bold;
			}
			.navbar-brand h2
			{
				font-size:25px; 
				color:dark gray; 
				font-weight:bold; 
				margin-top:-10px;
				margin-left:90px;
			}
			img
			{
				width:60px;
				height:40px;
			}
			h3
			{
				margin-left:90px; 
				margin-top:-50px;
				font-size:22px
			}
			h5
			{		
				margin-left:90px;
				font-size:15px;
			}
		}
		@media only screen and (max-width: 480px)
		{
			.navbar-brand h2
			{
				font-size:18px; 
				color:dark gray; 
				font-weight:bold; 
				margin-top:2px;
				margin-left:35px;
			}
			.glyphicon-menu-left
			{
				color:#ec0249;
				font-size:15px;
				padding-top:18px;
				font-weight:bold;
			}
			img
			{
				width:50px;
				height:30px;
			}
			h3
			{
				margin-left:90px; 
				margin-top:-40px;
				font-size:15px
			}
			h5
			{		
				margin-left:90px;
				font-size:10px;
			}
		}
		@media only screen and (max-width: 350px)
		{
			.navbar-brand h2
			{
				font-size:15px; 
				color:dark gray; 
				font-weight:bold; 
				margin-top:5px;
				margin-left:15px;
			}
			.glyphicon-menu-left
			{
				color:#ec0249;
				font-size:15px;
				padding-top:18px;
				font-weight:bold;
			}
			img
			{
				width:45px;
				height:25px;
			}
		}
