		body
		{
			background-color:#f2f2f2;
			font-family:sans-serif;
		}
		h2
		{
			text-align:center;
			font-size:45px; 
			color:#262626;
			font-weight:bold;
			margin-top:-45px; 
			text-shadow: 2px 2px #d9d9d9;
		}
		li
		{
			text-align:center;
		}
		#bottom
		{
			background-color:#262626;
			height:40px;
		}
		button span
		{
			margin-top:10px;
			font-size:25px;
			color:#ffffff;
		}
		#active
		{
			border-bottom-color:#ec0249;
			width:100px;
			margin-top:-1px;
			padding-bottom:5px;
			color: #ec0249;
		}
		#active span
		{
			color:#ec0249;
		}
		.navbar-default
		{
			background-color:#f9f9f9; 
			border-color:#f9f9f9; 
			padding:20px;
			box-shadow:2px 2px #d9d9d9;
		}
		.glyphicon-menu-left
		{
			color:#ec0249; 
			font-size:30px; 
			padding-top:10px; 
			font-weight:bold;
		}
		.navbar-brand h2
		{
			font-size:30px; 
			color:dark gray; 
			font-weight:bold; 
			margin-top:-15px;
		}
		.profile
		{
			background-color:#ffffff; 
			padding:40px; 
			margin:0px; 
			border-radius:5px;
			box-shadow:2px 2px #d9d9d9;
		}
		.profile h5
		{
			font-weight:bold; 
			font-size:25px; 
			color:#828282;
		}
		.profile p
		{
			font-size:18px; 
			color:#828282;
		}
		hr
		{
			color:#f2f2f2;
		}
		.row button
		{
			font-size:19px; 
			color:#828282; 
			font-weight:bold;
		}
		#fllw
		{
			text-decoration:none;
		}
		.badge
		{
			background-color:#ffffff; 
			color:#828282; 
			font-size:19px;
			margin-bottom:10px;
		}
		#follow
		{
			background-color:#ec0249;
			color:#ffffff; 
			font-size:25px; 
			font-weight:bold; 
			border-color:#ec0249;
			box-shadow:2px 2px #d9d9d9;
		}
		.glyphicon-th , .glyphicon-menu-hamburger , .glyphicon-map-marker , .glyphicon-list
		{
			color: #828282;
			font-size:25px; 
			font-weight:bold;
		}
		#menu
		{
			background-color:#ffffff;
			border-radius:5px;
		}
		#menu ul
		{
			list-style-type: none;
		}
		.display
		{
			background-color:#ffffff; 
			padding:5px;
			box-shadow:2px 2px #d9d9d9; 
			border-radius:5px;
		}
		#host h5
		{
			color:#828282; 
			font-weight:bold; 
			font-size:17px; 
			margin-left:10px;
		}
		#host .panel-default
		{
			border-radius:5px; 
			box-shadow:2px 2px #d9d9d9;
		}
		#host .panel-body
		{
			height:300px;
			background-repeat:no-repeat;
			background-size: 100% 100%;
			border-radius:5px;
		}
		#host .panel-body h5
		{
			float:left;
			color:#ffffff;
			font-weight:bold;
			font-size:20px;
			margin-top:255px;
			margin-left:-5px;
		}
		#host .panel-body h6
		{
			float:right;
			color:white;
			font-weight:bold;
			font-size:20px;
			margin-top:255px;
		}
		#attend h5
		{
			color:#828282; 
			font-weight:bold;
			font-size:17px; 
			margin-left:10px;
		}
		#attend .panel-default
		{
			border-radius:5px; 
			box-shadow:2px 2px #d9d9d9;
		}
		#attend .panel-body
		{
			height:300px;
			background-repeat:no-repeat;
			background-size: 100% 100%;
			border-radius:5px;
		}
		#attend .panel-body h5
		{
			float:left;
			color:white;
			font-weight:bold;
			font-size:20px;
			margin-top:235px;
			margin-left:-10px;
		}
		#attend .panel-body h6
		{
			float:right;
			color:white;
			font-weight:bold;
			font-size:20px;
			margin-top:240px;
			margin-left:-100px;
		}
		@media only screen and (max-width: 500px)
		{
			#active span
			{
				margin-left:-20px;
			}
			h2
			{
				text-align:center;
				font-size:25px; 
				color:#262626;
				font-weight:bold;
				margin-top:-25px; 
				text-shadow: 2px 2px #d9d9d9;
			}
			.glyphicon-menu-left
			{
				color:#ec0249;
				font-size:15px;
				padding-top:7px;
				font-weight:bold;
			}
			.navbar-brand h2
			{
				font-size:22px; 
				font-weight:bold; 
				margin-top:-10px;
				margin-left:-45px;
			}
			.profile
			{
				background-color:#ffffff; 
				padding:30px; 
				margin:0px; 
				border-radius:5px;
			}
			.profile h5
			{
				font-weight:bold; 
				font-size:18px; 
				color:#828282;
			}
			.profile p
			{
				font-size:12px; 
				color:#828282;
			}
			img
			{
				width: 100px ;
				height: 90px;
			}
			.row button
			{
				font-size:14px; 
				color:#828282; 
				font-weight:bold;
			}
			.badge
			{
				background-color:#ffffff; 
				color:#828282; 
				font-size:14px;
				margin-bottom:10px;
			}
			#follow
			{
				background-color:#ec0249;
				color:#ffffff; 
				font-size:20px; 
				font-weight:bold; 
				border-color:#ec0249;
				width:150px;
				margin-left:-35px;
				box-shadow:1px 1px #d9d9d9;
			}
			#menu span
			{
				margin-left:-30px;
			}
			.glyphicon-th , .glyphicon-menu-hamburger , .glyphicon-map-marker , .glyphicon-list
			{
				color: #828282;
				font-size:15px; 
				font-weight:bold;
			}
			#host h5
			{
				color:#828282; 
				font-weight:bold; 
				font-size:13px; 
				margin-left:10px;
			}
			#host .panel-body
			{
				height:200px;
			}
			#host .panel-body h5
			{
				font-size:15px;
				margin-top:155px;
				margin-left:-5px;
			}
			#host .panel-body h6
			{
				font-size:15px;
				margin-top:155px;
			}
			#attend h5
			{
				color:#828282; 
				font-weight:bold;
				font-size:13px; 
				margin-left:10px;
			}
			#attend .panel-body
			{
				height:200px;
			}
			#attend .panel-body h5
			{
				font-size:15px;
				margin-top:135px;
				margin-left:-10px;
			}
			#attend .panel-body h6
			{
				font-size:15px;
				margin-top:140px;
				margin-left:-78px;
			}
		}
